table.topic-list,
.latest-topic-list-item {
  @include stemaway-card;
  margin-top: 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  background-color: var(--stemaway-secondary-150);
  border-radius: 8px;
  thead {
    border-top: none;
    th {
      padding: 1rem;
      color: var(--stemaway-secondary-400);
      font-weight: 400;
    }
  }
  tbody {
    border-top: none;
    th:first-of-type {
      border-left: none;
    }

    tr {
      transition: transform 0.25s ease;

      .discourse-tag.box {
        @include stemaway-tag;
      }
    }
  }
}
.topic-list .main-link a.title {
  color: var(--stemaway-secondary-500);
  &:hover {
    color: var(--stemaway-primary-400);
  }
}

.topic-statuses .topic-status .d-icon {
  color: var(--stemaway-secondary-300);
  margin-right: 0.5rem;
}

.topic-list-item.visited a.title:not(.badge-notification),
.latest-topic-list-item.visited a.title:not(.badge-notification),
.category-topic-link.visited a.title:not(.badge-notification) {
  color: var(--stemaway-secondary-300);
  &:hover {
    color: var(--stemaway-primary-300);
  }
}

.topic-list .topic-excerpt {
  font-size: var(--font-0);
}

.topic-list-item {
  background-color: white;
  &:hover {
    background-color: var(--stemaway-secondary-100);
  }
}

img.avatar {
  border-radius: 25%;
}
