.topic-map {
  border-radius: 8px;
  border: 1px solid var(--stemaway-secondary-200);
  .map {
    border-top: none;
    background-color: var(--stemaway-secondary-100);
    .buttons button {
      background-color: transparent;
      border: transparent;
      border-radius: 0;
      &:hover {
        background-color: var(--stemaway-secondary-200);
      }
    }
    span.number {
      font-weight: 900;
      color: var(--stemaway-secondary-400);
    }
    li h4 {
      color: var(--stemaway-secondary-300);
    }
  }
  .topic-links .badge-notification {
    background-color: var(--stemaway-primary-200);
    color: var(--stemaway-primary-400);
  }
}
