.topic-status-info:not(:empty) {
  border-top: none;
  background-color: map-get($unity-colors, secondary-200);
  border-radius: 8px;
  color: map-get($unity-colors, secondary-500);
  .svg-icon {
    margin-right: 1rem;
    color: map-get($unity-colors, secondary-500);
  }
  span {
    padding: 0.5rem 1.25rem;
  }
}

.topic-timer-info:empty {
  border-top: none;
}
