.topic-map {
  border-radius: 8px;
  border: 1px solid map-get($unity-colors, secondary-200);
  .map {
    border-top: none;
    background-color: map-get($unity-colors, secondary-100);
    .buttons button {
      background-color: transparent;
      border: transparent;
      border-radius: 0;
      &:hover {
        background-color: map-get($unity-colors, secondary-200);
      }
    }
    span.number {
      font-weight: 900;
      color: map-get($unity-colors, secondary-400);
    }
    li h4 {
      color: map-get($unity-colors, secondary-300);
    }
  }
  .topic-links .badge-notification {
    background-color: map-get($unity-colors, primary-200);
    color: map-get($unity-colors, primary-400);
  }
}
