h3.suggested-topics-message {
  color: var(--stemaway-secondary-500);
  font-weight: 400;
  a {
    color: var(--stemaway-primary-400);
    position: relative;
    font-weight: 800;
    @include hoverable-underline(var(--stemaway-primary-400));
  }
}
