//added the box-shade
.topic-body {
  background-color: white;
  border-top: none;
  margin: 2rem;
  box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.07);
  padding: 15px 20px 0 20px;
  float: left;
  border-radius: 8px;
  border-bottom: none;
  .topic-meta-data {
    background-color: var(--stemaway-primary-100);
    padding: 1rem;
    border-radius: 8px;
    a {
      color: var(--stemaway-primary-400);
    }
  }

  .topic-map {
    background-color: var(--stemaway-secondary-100);
    border-color: var(--stemaway-secondary-200);
    section {
      border-color: var(--stemaway-secondary-200);
    }
    .buttons button {
      background-color: var(--stemaway-secondary-100);
      &:hover {
        background-color: var(--stemaway-secondary-200);
      }
    }
  }
}

.topic-avatar {
  border-top: none;
  border-bottom: none;
}

.small-action {
  border-top: none;
}

.container.posts {
  background-color: #d7ddea2c;
  background-color: var(--stemaway-secondary-100);
  padding: 1rem;
  border-radius: 8px;
}

.topic-navigation {
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.07);
}

.timeline-container .topic-timeline .timeline-handle {
  background-color: var(--stemaway-primary-400);
}
