table.topic-list,
.latest-topic-list-item {
  margin-top: 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  background-color: map-get($unity-colors, secondary-100);
  border-radius: 10px;
  thead {
    border-top: none;
    th {
      padding: 1rem;
      color: map-get($unity-colors, secondary-400);
      font-weight: bold;
    }
  }
  tbody {
    border-top: none;
    th:first-of-type {
      // TODO: Ensure STEM-Away theme component removes the !important flag too
      border-left: none;
    }
    tr {
      transition: transform 0.25s ease;
      &:hover {
        transform: scale(1.01);
        border-radius: 8px !important;
        z-index: 999;
        background-color: map-get($unity-colors, secondary-100) !important;
        outline: 1px solid map-get($unity-colors, secondary-200);
        .discourse-tag.box {
          border: 1px solid map-get($unity-colors, primary-400);
        }
      }
      .discourse-tag.box {
        background-color: map-get($unity-colors, primary-100) !important;
        color: map-get($unity-colors, primary-400) !important;
        box-shadow: none;
        border-radius: 5px;
        border: 1px solid transparent;
      }

      td.posters {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        a {
          padding: 0.05rem;
          // flex: 1 1 40px;
        }
        li:nth-child(2n) {
          flex-basis: 100%;
        }
      }
    }
  }
}
.topic-list .main-link a.title {
  color: map-get($unity-colors, secondary-500);
}

.topic-statuses .topic-status .d-icon {
  color: map-get($unity-colors, secondary-300);
  margin-right: 0.5rem;
}

.topic-list-item.visited a.title:not(.badge-notification),
.latest-topic-list-item.visited a.title:not(.badge-notification),
.category-topic-link.visited a.title:not(.badge-notification) {
  color: map-get($unity-colors, secondary-300);
}
