.topic-map {
  border: none;
  border-radius: 8px;

  .avatars {
    display: none;
  }

  span.domain {
    color: var(--stemaway-primary-400);
  }

  h3 {
    font-size: var(--font-up-1);
  }

  .map {
    border-radius: 8px;
    border-top: none;
    background: var(--stemaway-secondary-150);
  }

  section {
    border-top: none;
  }

  .buttons .btn {
    border: 0;
    background: var(--stemaway-secondary-150);

    .d-icon {
      color: var(--stemaway-secondary-300);
    }

    &:hover {
      background: var(--stemaway-secondary-200);
    }
  }

  &-expanded {
    background: var(--stemaway-secondary-100);
    border-radius: 8px;
  }

  .topic-links {
    .topic-link {
      color: var(--stemaway-secondary-400);

      &:hover {
        text-decoration: underline;
      }
    }
    .badge-notification {
      background-color: var(--stemaway-secondary-150);
      color: var(--stemaway-secondary-300);
      font-weight: bold;
    }
  }
}
