.d-header {
  box-shadow: 0px 7px 21px rgba(0, 0, 0, 0.07);
  .extra-info-wrapper {
    margin-left: 1rem;
    .header-title a {
      color: var(--stemaway-secondary-400);
      margin-bottom: 0.25rem;
    }
    .topic-header-extra .discourse-tags .discourse-tag.box {
      background-color: var(--stemaway-primary-200) !important;
      color: var(--stemaway-primary-400) !important;
      border-radius: 10px;
      font-weight: bold;
    }
  }
}
.d-header-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  .icon {
    // margin: 0 0.5rem;
    padding: 0.5rem;
    // border-radius: 100%;
    // border-left: 1.25px solid rgba(210, 216, 230, 0.5);
    &:hover,
    &:active,
    &:focus {
      background-color: #edf2f7;
      border-radius: 100%;
      .d-icon {
        color: var(--stemaway-secondary-300);
      }
    }
  }
  .d-icon {
    // border-left: 1px solid red;
    color: var(--stemaway-secondary-200);
  }
}

.header-dropdown-toggle:nth-child(4) {
  order: 3;
}

.d-header-icons .header-dropdown-toggle:not(:last-child) {
  font-size: 0.75rem;
}

.d-header-icons .current-user .badge-notification {
  top: 2px;
  border: 2.5px solid white;
}
a.unread-high-priority-notifications {
  background-color: #e62626;
}
