.menu-panel {
  border-radius: 8px;
  margin: 1rem;
  box-shadow: 0px 4px 43px -1px rgba(0, 0, 0, 0.13) !important;
  border: 0;
  transition: background-color ease 0.25s;

  .menu-links-row .glyphs {
    border-radius: 5px;
    background-color: var(--stemaway-primary-100);
    .d-icon {
      color: var(--stemaway-primary-400);
    }
    .widget-button {
      border-radius: 5px;
      &:hover {
        background-color: var(--stemaway-primary-300);
      }
      + .active {
        &:hover {
          background-color: var(--stemaway-primary-500);
        }
      }
    }
    .widget-button:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    .widget-button:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    button.active {
      .d-icon {
        color: var(--stemaway-primary-100);
      }
      background-color: var(--stemaway-primary-400);
    }
  }
}

div.menu-links-header .menu-links-row li.glyphs a {
  display: none;
}

.menu-links-header .glyphs {
  .user-notifications-link {
    order: 3;
  }

  .custom.menu-link {
    order: 1;
  }

  .user-bookmarks-link {
    order: 2;
  }

  .user-pms-link {
    order: 4;
  }

  .user-preferences-link {
    order: 5;
  }
}

.menu-panel .d-label {
  font-weight: 300;
  color: var(--stemaway-secondary-400);
}

.panel-body {
  .results {
    border-radius: 8px;
    color: var(--stemaway-secondary-400);
  }
}
