#search-term {
  border-color: var(--stemaway-secondary-200);
  background-color: var(--stemaway-secondary-100);
  border-radius: 8px;
  border-width: 2px;
  transition: border 0.25s ease;
  color: var(--stemaway-secondary-400);

  &:focus {
    color: var(--stemaway-secondary-500);
    background-color: var(--stemaway-primary-100);
    outline: none !important;
    border: 2px solid var(--stemaway-primary-400);
    box-shadow: none;
    font-weight: 600;
  }
}
