.user-menu {
  .quick-access-panel {
    border-top: none;
    .d-icon,
    .d-icon.active {
      color: var(--stemaway-secondary-300);
    }

    div,
    button {
      color: var(--stemaway-secondary-400);
      &:hover {
        color: var(--stemaway-secondary-400);
      }
    }

    .summary,
    .activity {
      display: none;
    }
  }
}

.user-menu .menu-links-row {
  button.user-notifications-link {
    display: none;
  }
}
