@mixin stemaway-card {
  border-radius: 8px;
  background: white;
  box-shadow: 0px 1px 9px -3px rgba(0, 0, 0, 0.25);
}

@mixin stemaway-tag {
  background-color: var(--stemaway-primary-300);
  color: var(--stemaway-primary-400);
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.25s ease, color 0.25s ease;

  &:hover,
  &:focus {
    background-color: var(--stemaway-primary-400);
    color: var(--stemaway-primary-100);
  }
}

@mixin image-logo {
  transition: opacity 0.25s ease, transform 0.25s ease;
  &:hover,
  &:focus {
    opacity: 0.5;
    transform: scale(1.05);
  }
  &:active {
    opacity: 0.8;
  }
}

@mixin hoverable-underline($color: #88b98f) {
  &::after {
    position: absolute;
    content: '';
    margin: 0 auto;
    height: 2px;
    left: 0;
    right: 0;
    width: 50%;
    bottom: 0px;
    background: transparent;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.4s;
  }

  &:hover {
    &::after {
      position: absolute;
      content: '';
      height: 2px;
      left: 0;
      right: 0;
      width: 100%;
      bottom: 0px;
      background: $color;
    }
  }
}
