$unity-colors: (
  primary-100: #f5f8f2,
  primary-200: #edf2e9,
  primary-300: #e1ead9,
  primary-400: #88b98f,
  primary-500: #628f69,
  secondary-100: #f9fbfd,
  secondary-200: #d2d8e6,
  secondary-300: #b9bdc8,
  secondary-400: #767982,
  secondary-500: #56656e,
  gray-100: #fbfbfd,
  gray-200: #ededed,
  gray-300: #9f9f9f,
  gray-400: #595959,
  gray-500: #464141,
);

:root {
  --font-family: "Nunito Sans", sans-serif;
  --heading-font-family: "Nunito Sans", sans-serif;
}
