.category-boxes .category-box,
.category-boxes-with-topics .category-box {
  border-left: none;
  border-top: 7px solid;
  transition: transform 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.15);
  background: var(--stemaway-secondary-150);
  box-shadow: none;
  border-radius: 2px 2px 8px 8px;

  margin: 2px 10px 20px;
  width: calc(33.333333% - 20px);

  &:hover,
  &:focus {
    transform: scale(1.05);
    z-index: 999;
  }

  .category-box-heading h3 {
    color: var(--stemaway-secondary-500);
    margin-bottom: 1rem;

    .svg-icon {
      color: var(--stemaway-secondary-300);
    }
  }

  .description {
    color: var(--stemaway-secondary-300);
  }

  .category-name {
    color: var(--stemaway-secondary-400);
  }
}

.category-boxes .category-box-inner,
.category-boxes-with-topics .category-box-inner:hover {
  background: dark-light-diff($primary, $secondary, 90%, -80%);
  transition: background 0.15s;
}

.category-boxes .category-box-inner,
.category-boxes-with-topics .category-box-inner {
  @include stemaway-card;
  border-radius: 0 0 8px 8px;
  border: 0;
}

.category-boxes .category-box .category-box-inner {
  padding: 1.75rem;
}

.has-logo .category-title-link {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.category-boxes .category-box .logo.aspect-image img,
.category-boxes-with-topics .category-box .logo.aspect-image img {
  --height: 110px !important;
}

.has-logo .category-text-title {
  flex: 0 0 100%;
  order: 3;
}

.category-boxes .subcategory.with-subcategories .category-title-link .category-logo {
  display: none;
}

.subcategory.with-subcategories .subcategories {
  display: none;
}

.subcategory-list-item .subcategories {
  display: none;
}

.category-boxes .description {
  padding-bottom: 1.2rem;
}

.category-boxes .subcategory.with-subcategories {
  border-top: 2px solid;
  border-left: none;

  .subcategory-box-inner {
    border-color: var(--stemaway-secondary-150);
    border-left: 1px solid var(--stemaway-secondary-150);
    background: var(--stemaway-secondary-100);

    .category-name {
      font-weight: 400;
      color: var(--stemaway-secondary-400);
    }

    &:hover,
    &:focus {
      background: var(--stemaway-secondary-150);
      border-color: var(--stemaway-secondary-150);
      .category-name {
        font-weight: 600;
      }
    }
  }
}

.subcategories {
  .subcategory {
    background: var(--stemaway-secondary-100);
    border: 1px solid var(--primary-low);
    border-top: 2px solid;
    padding: 0.5em 0.5em 0.4em 0.5em;
    display: block;
    width: 100%;
    .subcategory-image-placeholder {
      display: none !important;
    }
    .category-name {
      font-weight: 400;
      color: var(--stemaway-secondary-400);
      font-size: 15px;
      line-height: var(--line-height-medium);
      margin-bottom: 0.25em;
    }
    .badge-category-bg {
      display: none;
    }
    .d-icon {
      color: #dedede;
      height: 0.76em;
      width: 0.76em;
      vertical-align: baseline;
      margin-right: 0.4m;
    }
    &:hover,
    &:focus {
      border-bottom-color: var(--stemaway-secondary-150);
      border-left-color: var(--stemaway-secondary-150);
      border-right-color: var(--stemaway-secondary-150);
      border-top: 2px solid;
      background: var(--stemaway-secondary-150);
      .category-name {
        font-weight: 600;
      }
    }
  }
}
