.category-header div[class^='category-title-header'] {
  @include stemaway-card;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  border-left-width: 5px;
  padding: 1.5rem;

  .category-title-contents {
    .category-title-name {
      color: var(--stemaway-secondary-500);
    }
    .category-title-description {
      margin-left: 0.5rem;
      color: var(--stemaway-secondary-300);
    }
  }
}
