.category-boxes .category-box,
.category-boxes-with-topics .category-box {
  border-left: none;
  border-top: 5px solid;
  transition: transform 0.25s ease;
  box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.07);

  &:hover {
    z-index: 999;
    transform: scale(1.03);
  }

  .category-box-heading h3 {
    color: var(--stemaway-secondary-500);

    .svg-icon {
      color: var(--stemaway-secondary-300);
    }
  }

  .description {
    color: var(--stemaway-secondary-300);
  }

  .category-name {
    color: var(--stemaway-secondary-400);
  }
}

.category-boxes .category-box-inner,
.category-boxes-with-topics .category-box-inner:hover {
  background: dark-light-diff($primary, $secondary, 90%, -80%);
  transition: background 0.15s;
}
