.category-list {
  .category-name {
    color: var(--stemaway-secondary-500);
    border-bottom: 1px solid transparent;
    transition: color 0.4s ease;
    position: relative;
    @include hoverable-underline(var(--stemaway-secondary-300));
    &:hover {
      color: var(--stemaway-secondary-300);
    }
  }
}

.categories-list .category .category-description {
  color: var(--stemaway-secondary-300);
}

.category-list {
  border: 10px;
  border-radius: 10px;
  // box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

  .d-icon-lock {
    margin-right: 1rem;
    color: var(--stemaway-secondary-300);
    font-size: 0.8rem;
  }

  .category-name {
    position: relative;
    &::before {
      content: '';
    }
  }

  tbody {
    border-top-width: 1px;

    .category {
      border-left: none;
    }

    tr {
      &:hover {
        background-color: var(--stemaway-secondary-100);
      }
    }
  }

  thead {
    .category {
      border-top-left-radius: 8px;
    }
    .topics {
      border-top-right-radius: 8px;
    }
    tr {
      background-color: var(--stemaway-secondary-100);
      border-bottom: none;
    }

    th {
      color: var(--stemaway-secondary-400);
      border-bottom: 0;
      border-bottom: none;
      text-transform: uppercase;
      padding: 1rem;
      font-weight: bold;
    }
  }
}

.category-list .featured-topic .topic-post-badges .badge.new-posts,
.category-list .featured-topic .title {
  color: var(--stemaway-primary-400);
  margin-bottom: 0.25rem;
  position: relative;
  @include hoverable-underline(var(--stemaway-primary-400));
}

// Hide topics column in category list with topics
.with-topics {
  .topics {
    display: none;
  }
}
