.admin-controls nav .fields {
  li a.edited {
    color: var(--stemaway-primary-400);
    background-color: var(--stemaway-primary-100);
    border-bottom: 1.5px dashed var(--stemaway-primary-400);
    &:hover {
      background-color: var(--stemaway-primary-400);
      color: var(--stemaway-primary-100);
    }
  }
}

.admin-customize .current-style .nav-pills li a.active {
  background-color: var(--stemaway-primary-400);
  color: var(--stemaway-primary-100);
  border-color: transparent;
}

.admin-content {
  @include stemaway-card;
  padding: 1rem;
}

.admin-detail {
  border-left: none;
}

.admin-controls,
.admin-controls .controls,
.admin-controls nav {
  background: var(--stemaway-secondary-150);
  border-radius: 5px;
}

.admin-controls .nav-pills > li a.active {
  background: var(--stemaway-secondary-300);
}

.admin-customize {
  .themes-list-header {
    border: none;

    .tab {
      padding: 0.75rem;
      margin: 0.25rem;
    }

    .tab.btn-danger.active {
      background: var(--stemaway-primary-400);
    }
  }

  .themes-list-container {
    margin-top: 0.5rem;
    border: none;
    border-radius: 8px;
    border: 1px solid var(--stemaway-secondary-200);
  }

  .filter-input {
    background: var(--stemaway-secondary-150);
    margin-bottom: 0.25rem;
  }

  .themes-list-item {
    background: var(--stemaway-secondary-150);
    border-radius: 3px;
    border-left: none;
    margin: 0.25rem;
    border-bottom: none;
  }
}
