.admin-controls nav .fields {
  li a.edited {
    color: var(--stemaway-primary-400);
    background-color: var(--stemaway-primary-100);
    border-bottom: 1.5px dashed var(--stemaway-primary-400);
    &:hover {
      background-color: var(--stemaway-primary-400);
      color: var(--stemaway-primary-100);
    }
  }
}

.admin-customize .current-style .nav-pills li a.active {
  background-color: var(--stemaway-primary-400);
  color: var(--stemaway-primary-100);
  border-color: transparent;
}
