.alert.alert-info {
  background-color: #ebf8ff;
  color: hsl(205, 71%, 53%);
  border-radius: 5px;
  padding: 1rem;

  a {
    color: hsl(205, 89%, 40%);
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  .d-icon-times {
    color: hsl(205, 71%, 76%);
    margin-top: 8px;
  }
}

#banner {
  background-color: map-get($unity-colors, primary-200);
  border-radius: 5px;

  .close .d-icon {
    color: map-get($unity-colors, primary-400);
    margin-top: 8px;
  }
  #banner-content {
    a {
      color: map-get($unity-colors, primary-400);
      border-bottom: 2px solid map-get($unity-colors, primary-400);
      transition: color 0.25s ease;
      &:hover {
        color: map-get($unity-colors, primary-500);
      }
    }
  }
}
