.alert.alert-info {
  color: hsl(205, 71%, 53%);
  background-color: #d9f0fc;
  box-shadow: none;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 5px solid #3295dc;
  padding: 1rem;

  a {
    color: hsl(205, 89%, 40%);
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  .d-icon-times {
    color: hsl(205, 71%, 76%);
    margin-top: 8px;
  }
}

#banner {
  background-color: var(--stemaway-primary-200);
  border-radius: 5px;

  .close .d-icon {
    color: var(--stemaway-primary-400);
    margin-top: 8px;
  }
  #banner-content {
    a {
      color: var(--stemaway-primary-400);
      border-bottom: 2px solid var(--stemaway-primary-400);
      transition: color 0.25s ease;
      &:hover {
        color: var(--stemaway-primary-500);
      }
    }
  }
}
