.badge-card {
  background-color: var(--stemaway-secondary-100);
  border-radius: 5px;
  border-color: var(--stemaway-secondary-200);

  &:hover {
    box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.07) !important;
  }

  .svg-icon {
    max-width: 45px;
  }

  .badge-contents {
    .badge-link {
      color: var(--stemaway-primary-400);
    }

    .badge-summary {
      color: var(--stemaway-secondary-400);
    }
  }
}

.badge-card .badge-contents .badge-icon.badge-type-bronze .fa {
  color: var(--stemaway-primary-400) !important;
}

.badge-wrapper.bullet .badge-category-parent-bg,
.badge-wrapper.bullet .badge-category-bg {
  border-radius: 25%;
}

.badge-wrapper.bullet {
  span.badge-category-parent-bg+.badge-category-bg {
    width: 9px;
  }
}

/* Migrated from stemaway-ui-addons/main-test.scss */
// .badge-contents:hover .badge-link {
//   color: teal;
// }

.badge-wrapper.bullet span.badge-category-parent-bg,
.badge-card .check-display {
  display: none;
}

.with-logos .badge-category__wrapper .badge-category.--style-square::before {
  content: none;
  display: none;
}