.badge-card {
  background-color: var(--stemaway-secondary-100);
  border-radius: 5px;
  border-color: var(--stemaway-secondary-200);

  &:hover {
    box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.07) !important;
  }

  .svg-icon {
    max-width: 45px;
  }

  .badge-contents {
    .badge-link {
      color: var(--stemaway-primary-400);
    }
    .badge-summary {
      color: var(--stemaway-secondary-400);
    }
  }
}

.badge-card .badge-contents .badge-icon.badge-type-bronze .fa {
  color: var(--stemaway-primary-400) !important;
}

.badge-wrapper.bullet .badge-category-parent-bg,
.badge-wrapper.bullet .badge-category-bg {
  border-radius: 100%;
}

.badge-wrapper.bullet {
  span.badge-category-parent-bg {
    display: none;
  }
  span.badge-category-parent-bg + .badge-category-bg {
    width: 9px;
  }
}
