.signup-cta.alert.alert-info {
  background-color: var(--stemaway-primary-100);
  border-radius: 8px;
  border-top: none;
  border-bottom: none;
  color: var(--stemaway-primary-500);
  a {
    color: var(--stemaway-secondary-400);
    text-decoration: none;
    text-transform: uppercase;
    margin-left: auto;
    border: 1px dashed var(--stemaway-secondary-200);
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    transition: border-style 0.3s ease-in, background-color 0.3s ease;
    &:hover {
      background-color: var(--stemaway-secondary-100);
      border-style: solid;
    }
  }
  .buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    button {
      margin-right: 0.5rem;
    }
  }
}
