.footer-message {
  h3 {
    color: var(--stemaway-secondary-400);
  }
  a {
    color: var(--stemaway-primary-400);
    position: relative;
    @include hoverable-underline(var(--stemaway-primary-400));
  }
}
