.login-modal .modal-body.has-alt-auth,
.create-account .modal-body.has-alt-auth {
  background: var(--stemaway-primary-400);
}

@media (prefers-color-scheme: dark) {
  .login-modal .modal-body.has-alt-auth,
  .create-account .modal-body.has-alt-auth {
    background: var(--stemaway-primary-400);
  }
}

.modal .modal-inner-container .modal-header {
  background-color: transparent;
}

.login-welcome-header .waving-hand {
  opacity: 0;
}
