.modal {
  .modal-inner-container {
    box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.13);
    border: none;
    border-radius: 8px;
    .modal-header {
      background-color: var(--stemaway-secondary-100);
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      color: var(--stemaway-secondary-400);
      svg {
        color: var(--stemaway-secondary-300);
        &:hover {
          color: var(--stemaway-secondary-400) !important;
        }
      }
    }
    .modal-footer {
      background-color: var(--stemaway-secondary-100);
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      color: var(--stemaway-secondary-300);
    }
  }
}
