.nav {
  li a {
    color: var(--stemaway-secondary-400);
  }
}

.nav-stacked {
  background: var(--stemaway-primary-100);
  li {
    border-bottom-color: var(--stemaway-primary-200);
  }
}

.user-secondary-navigation .nav-stacked a {
  color: var(--stemaway-secondary-300);
  border-radius: 5px;
  transition: background-color 0.25s ease-out;
  &:hover {
    background-color: #dfe4e95a;
  }

  &.active {
    color: var(--stemaway-secondary-500);
  }
}

.user-additional-controls {
  .btn-default {
    color: var(--stemaway-secondary-500);
    background-color: var(--stemaway-secondary-200);
    .svg-icon {
      color: var(--stemaway-secondary-500);
    }
  }
}

.nav-pills > li > a {
  border-radius: 4px;
  font-size: var(--font-0);
  min-height: 36px;
  padding: 11px 16px;
  transition-duration: 0.3s;
  transition-property: background-color, color, opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-controls {
  .navigation-container {
    @include stemaway-card;
    margin: 0 auto;
    width: 96%;
    --nav-space: 0.5rem;
    padding: 1rem;
  }
}
