.post-controls {
  .widget-button {
    .svg-icon {
      color: var(--stemaway-secondary-300);
    }
    .d-button-label {
      transition: color 0.25s ease;
      color: var(--stemaway-secondary-300);
      &:hover {
        color: var(--stemaway-secondary-400);
      }
    }
  }
}

nav.post-controls .actions button.create .d-icon {
  color: var(--stemaway-secondary-300);
}
