//   Color Reference:
$unity-colors: (
  primary-100: #f5f8f2,
  primary-200: #edf2e9,
  primary-300: #e1ead9,
  primary-400: #96b67b,
  primary-500: #689443,
  secondary-100: #f9fbfd,
  secondary-200: #d2d8e6,
  secondary-300: #b9bdc8,
  secondary-400: #767982,
  secondary-500: #56656e,
  gray-100: #fbfbfd,
  gray-200: #ededed,
  gray-300: #9f9f9f,
  gray-400: #595959,
  gray-500: #464141,
);

@mixin image-logo {
  transition: opacity 0.25s ease, transform 0.25s ease;
  &:hover,
  &:focus {
    opacity: 0.5;
    transform: scale(1.05);
  }
  &:active {
    opacity: 0.8;
  }
}

@mixin hoverable-underline($color: #96b67b) {
  &::after {
    position: absolute;
    content: "";
    margin: 0 auto;
    height: 2px;
    left: 0;
    right: 0;
    width: 50%;
    bottom: 0px;
    background: transparent;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.4s;
  }

  &:hover {
    &::after {
      position: absolute;
      content: "";
      height: 2px;
      left: 0;
      right: 0;
      width: 100%;
      bottom: 0px;
      background: $color;
    }
  }
}

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-family: "Nunito Sans", sans-serif;
  --heading-font-family: "Nunito Sans", sans-serif;
}
.homepage-jumbotron {
  background-color: map-get($unity-colors, primary-200);
}
// Banner Styling
.jumbotron {
  padding: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;

  @media screen and (min-width: 999px) {
    flex-flow: row nowrap;
    text-align: left;
  }

  @media screen and (min-width: 1440px) {
    padding: 4rem;
  }

  @media screen and (min-width: 1730px) {
    justify-content: space-around;
    .jumbotron-image {
      flex: 0;
    }

    .jumbotron-titles {
      flex-basis: 40%;
      margin: 0;
    }

    .jumbotron-quick-links {
      flex: 0 0 max-content;
      &-container::before {
        display: none;
      }
    }
  }

  &-image {
    // flex: 1 0 5%;
    margin: 1rem 0;
    // background-color: map-get($unity-colors, primary-400);
    width: 332px;
    // height: 432px;
    flex: 2 0 30%;
  }

  &-titles {
    margin: 1rem 1rem 1rem 0;
    // flex: 1 0 28%;

    h1 {
      //   font-size: 3.125rem;
      font-size: 2.5rem;
      color: map-get($unity-colors, primary-400);
      font-weight: 900;
      @media screen and (min-width: 1338px) {
        max-width: 80%;
        font-size: 3.125rem;
      }
    }

    h2 {
      color: map-get($unity-colors, secondary-500);
      font-weight: 300;
      @media screen and (min-width: 1338px) {
        max-width: 75%;
      }
    }
  }

  &-quick-links {
    // flex: 3 0 27%;
    flex: 3 0 30%;
    position: relative;
    z-index: 1;
    margin-top: 1rem;
    margin-left: 0.5rem;

    @media screen and (min-width: 1400px) {
      flex: 3 0 27%;
    }

    @media screen and (min-width: 640px) {
      max-width: 50%;
    }

    &-container {
      padding: 1.5rem;
      background: rgba(255, 255, 255, 0.95);
      box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.13);
      //   border-radius: 11px 0px 0px 11px;
      border-radius: 11px;
      position: relative;

      @media screen and (min-width: 1230px) {
        &::before {
          content: "";
          position: absolute;
          background: rgba(255, 255, 255, 0.95);
          box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.13);
          border-radius: 11px;

          width: 100%;
          height: 80%;
          top: 10%;
          left: -8%;
          z-index: -1;
        }
      }

      h3 {
        margin-bottom: 0;
        text-align: center;
        padding: 0.8rem 2rem;
        display: block;
        border-radius: 8px;
        color: map-get($unity-colors, primary-400);
        background-color: map-get($unity-colors, primary-100);
      }
      ul {
        margin-left: 0;
        list-style: none;
        font-size: 1.2rem;
        text-align: left;

        li {
          cursor: pointer;
          border-radius: 8px;
          margin-top: 0.25rem;
          display: block;
          padding: 1rem;

          transition: transform 0.25s ease;

          a {
            margin: 0.5rem;
            color: map-get($unity-colors, secondary-300);
            svg {
              margin-right: 1rem;
            }
          }
          &:hover {
            transform: scale(1.05);
            background-color: rgba(210, 216, 230, 0.2);
          }
        }
      }
    }
  }
}

.partners {
  border-top: 2px solid #eff1f6;
  background: rgba(235, 236, 243, 0.2);
  padding: 2rem 1rem 1rem 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  h2 {
    text-align: center;
    @media screen and (min-width: 600px) {
      max-width: 45%;
    }
    color: map-get($unity-colors, secondary-500);
  }

  &-images {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    a {
      //   flex-basis: 20%;
      //   padding: 2rem;
      padding: 2.25rem;
      @include image-logo;
    }
  }
}

.universities {
  background-color: rgba(235, 236, 243, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex-flow: row wrap;

  @media screen and (min-width: 935px) {
    padding: 3rem;
    flex-flow: row nowrap;
  }

  .university-title {
    text-align: left;
    // flex-basis: 30%;
    @media screen and (min-width: 530px) {
      flex-basis: 50%;
    }

    @media screen and (min-width: 840px) {
      flex-basis: 30%;
      margin-right: 1rem;
    }

    @media screen and (min-width: 1280px) {
      flex-basis: 20%;
    }
    margin-bottom: 1rem;
    text-align: center;
    background-color: rgba(210, 216, 230, 0.3);
    border-radius: 8px;
    padding: 1.5rem;
    color: map-get($unity-colors, secondary-500);
  }

  .university-images {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

    a {
      flex-basis: 25%;
      padding: 1rem;
      margin: 1.5rem 0;
      @include image-logo;
    }
  }
}

.custom-footer {
  background-color: map-get($unity-colors, secondary-400);
  box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.07);

  a {
    // color: white !important;
    color: rgba(255, 255, 255, 0.5) !important;
  }

  .blurb {
    color: rgba(255, 255, 255, 0.5) !important;
    margin-bottom: 1rem;
  }
}

.category-boxes .category-box,
.category-boxes-with-topics .category-box {
  border-left: none;
  border-top: 5px solid;
  transition: transform 0.25s ease;
  box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.07);

  &:hover {
    z-index: 999;
    transform: scale(1.03);
  }

  .category-box-heading h3 {
    color: map-get($unity-colors, secondary-500);

    .svg-icon {
      color: map-get($unity-colors, secondary-300);
    }
  }

  .description {
    color: map-get($unity-colors, secondary-300);
  }

  .category-name {
    color: map-get($unity-colors, secondary-400);
  }
}

// Post Menu:
.post-controls {
  .widget-button {
    .svg-icon {
      color: map-get($unity-colors, secondary-300);
    }
    .d-button-label {
      transition: color 0.25s ease;
      color: map-get($unity-colors, secondary-300);
      &:hover {
        color: map-get($unity-colors, secondary-400);
      }
    }
  }
}

nav.post-controls .actions button.create .d-icon {
  color: map-get($unity-colors, secondary-300);
}

// Sign Up CTA
.signup-cta.alert.alert-info {
  background-color: map-get($unity-colors, primary-100);
  border-radius: 8px;
  border-top: none;
  border-bottom: none;
  color: map-get($unity-colors, primary-500);
  a {
    color: map-get($unity-colors, secondary-400);
    text-decoration: none;
    text-transform: uppercase;
    margin-left: auto;
    border: 1px dashed map-get($unity-colors, secondary-200);
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    transition: border-style 0.3s ease-in, background-color 0.3s ease;
    &:hover {
      background-color: map-get($unity-colors, secondary-100);
      border-style: solid;
    }
  }
  .buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    button {
      margin-right: 0.5rem;
    }
  }
}

// Navigation Related
.nav {
  li a {
    color: map-get($unity-colors, secondary-400);
  }
}

.nav-stacked {
  li a {
  }
}

.user-secondary-navigation .nav-stacked a {
  color: map-get($unity-colors, secondary-300);
  border-radius: 5px;
  transition: background-color 0.25s ease-out;
  &:hover {
    background-color: #dfe4e95a;
  }

  &.active {
    color: map-get($unity-colors, secondary-500);
  }
}

.user-additional-controls {
  .btn-default {
    color: map-get($unity-colors, secondary-500);
    background-color: map-get($unity-colors, secondary-200);
    .svg-icon {
      color: map-get($unity-colors, secondary-500);
    }
  }
}

// Badge Styling
.badge-card {
  background-color: map-get($unity-colors, secondary-100);
  border-radius: 5px;
  border-color: map-get($unity-colors, secondary-200);

  &:hover {
    box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.07) !important;
  }

  .svg-icon {
    max-width: 45px;
  }

  .badge-contents {
    .badge-link {
      color: map-get($unity-colors, primary-400);
    }
    .badge-summary {
      color: map-get($unity-colors, secondary-400);
    }
  }
}

.badge-card .badge-contents .badge-icon.badge-type-bronze .fa {
  color: map-get($unity-colors, primary-400) !important;
}
// Topic List Item
table.topic-list,
.latest-topic-list-item {
  margin-top: 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  background-color: map-get($unity-colors, secondary-100);
  border-radius: 10px;
  thead {
    border-top: none;
    th {
      padding: 1rem;
      color: map-get($unity-colors, secondary-400);
      font-weight: bold;
    }
  }
  tbody {
    border-top: none;
    th:first-of-type {
      // TODO: Ensure STEM-Away theme component removes the !important flag too
      border-left: none;
    }
    tr {
      transition: transform 0.25s ease;
      &:hover {
        transform: scale(1.01);
        border-radius: 8px !important;
        z-index: 999;
        background-color: map-get($unity-colors, secondary-100) !important;
        outline: 1px solid map-get($unity-colors, secondary-200);
        .discourse-tag.box {
          border: 1px solid map-get($unity-colors, primary-400);
        }
      }
      .discourse-tag.box {
        background-color: map-get($unity-colors, primary-100) !important;
        color: map-get($unity-colors, primary-400) !important;
        box-shadow: none;
        border-radius: 5px;
        border: 1px solid transparent;
      }

      td.posters {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        a {
          padding: 0.05rem;
          // flex: 1 1 40px;
        }
        li:nth-child(2n) {
          flex-basis: 100%;
        }
      }
    }
  }
}
.topic-list .main-link a.title {
  color: map-get($unity-colors, secondary-500);
}

.topic-statuses .topic-status .d-icon {
  color: map-get($unity-colors, secondary-300);
  margin-right: 0.5rem;
}

.topic-list-item.visited a.title:not(.badge-notification),
.latest-topic-list-item.visited a.title:not(.badge-notification),
.category-topic-link.visited a.title:not(.badge-notification) {
  color: map-get($unity-colors, secondary-300);
}

// Footer Message
.footer-message {
  h3 {
    color: map-get($unity-colors, secondary-400);
  }
  a {
    color: map-get($unity-colors, primary-400);
    position: relative;
    @include hoverable-underline(#96b67b);
  }
}

// Topic Timers
.topic-status-info:not(:empty) {
  border-top: none;
  background-color: map-get($unity-colors, secondary-200);
  border-radius: 8px;
  color: map-get($unity-colors, secondary-500);
  .svg-icon {
    margin-right: 1rem;
    color: map-get($unity-colors, secondary-500);
  }
  span {
    padding: 0.5rem 1.25rem;
  }
}

// Topic Map
.topic-map {
  border-radius: 8px;
  border: 1px solid map-get($unity-colors, secondary-200);
  .map {
    border-top: none;
    background-color: map-get($unity-colors, secondary-100);
    .buttons button {
      background-color: transparent;
      border: transparent;
      border-radius: 0;
      &:hover {
        background-color: map-get($unity-colors, secondary-200);
      }
    }
    span.number {
      font-weight: 900;
      color: map-get($unity-colors, secondary-400);
    }
    li h4 {
      color: map-get($unity-colors, secondary-300);
    }
  }
  .topic-links .badge-notification {
    background-color: map-get($unity-colors, primary-200);
    color: map-get($unity-colors, primary-400);
  }
}

// Button Styling
.btn-default {
  background: map-get($unity-colors, gray-200);
  color: map-get($unity-colors, gray-400);
  border-radius: 5px;

  &[href],
  .d-icon-thumb-tack {
    color: map-get($unity-colors, gray-400);
  }
  .d-icon {
    color: map-get($unity-colors, gray-400);
  }
  .discourse-no-touch & {
    &:hover {
      background: map-get($unity-colors, primary-300);
      color: map-get($unity-colors, primary-500);
      .d-icon,
      &[href] {
        color: map-get($unity-colors, primary-500);
      }
    }
  }
}

.btn-rollback {
  background-color: map-get($unity-colors, secondary-400);
  color: white;
  .d-icon {
    color: white;
  }
  .discourse-no-touch & {
    &:hover {
      background: map-get($unity-colors, secondary-500);
      color: white;
      .d-icon,
      &[href] {
        color: white;
      }
    }
  }
}

.btn-rollback[disabled] {
  background-color: map-get($unity-colors, secondary-400);
  &:hover {
    background: map-get($unity-colors, secondary-400);
  }
}

.select-kit-collection {
  box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.07);
}

.alert.alert-info {
  background-color: #ebf8ff;
  color: hsl(205, 71%, 53%);
  border-radius: 5px;
  padding: 1rem;
}

.widget-button {
  border-radius: 5px;
}

.double-button {
  button:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  button:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.btn-primary {
  background-color: map-get($unity-colors, primary-400);
  color: white;
  border-radius: 5px;
  .d-icon {
    color: white;
  }
  .discourse-no-touch & {
    &:hover {
      background-color: map-get($unity-colors, primary-500);
      color: map-get($unity-colors, primary-100);
      .d-icon {
        color: map-get($unity-colors, primary-100);
      }
    }
  }
}

// Modal
.modal {
  .modal-inner-container {
    box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.13);
    border: none;
    border-radius: 8px;
    .modal-header {
      background-color: map-get($unity-colors, secondary-100);
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      color: map-get($unity-colors, secondary-400);
      svg {
        color: map-get($unity-colors, secondary-300);
        &:hover {
          color: map-get($unity-colors, secondary-400) !important;
        }
      }
    }
    .modal-footer {
      background-color: map-get($unity-colors, secondary-100);
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      color: map-get($unity-colors, secondary-300);
    }
  }
}

// Suggested Topics
h3.suggested-topics-message {
  color: map-get($unity-colors, secondary-500);
  font-weight: 400;
  a {
    color: map-get($unity-colors, primary-400);
    position: relative;
    font-weight: 800;
    @include hoverable-underline(#96b67b);
  }
}

// Navigation Bar Header Styling
.d-header {
  box-shadow: 0px 7px 21px rgba(0, 0, 0, 0.07);
  .extra-info-wrapper {
    margin-left: 1rem;
    .header-title a {
      color: map-get($unity-colors, secondary-400);
      margin-bottom: 0.25rem;
    }
    .topic-header-extra .discourse-tags .discourse-tag.box {
      background-color: map-get($unity-colors, primary-200) !important;
      color: map-get($unity-colors, primary-400) !important;
      border-radius: 10px;
      font-weight: bold;
    }
  }
}
.d-header-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  .icon {
    // margin: 0 0.5rem;
    padding: 0.5rem;
    // border-radius: 100%;
    // border-left: 1.25px solid rgba(210, 216, 230, 0.5);
    &:hover,
    &:active,
    &:focus {
      background-color: #edf2f7;
      border-radius: 100%;
      .d-icon {
        color: map-get($unity-colors, secondary-300);
      }
    }
  }
  .d-icon {
    // border-left: 1px solid red;
    color: map-get($unity-colors, secondary-200);
  }
}

// .anon .header-member-info {
//   display: none;
// }

.menu-panel .d-label {
  font-weight: 300;
  color: map-get($unity-colors, secondary-400);
}
#search-term {
  padding: 1.5rem;
  border-color: map-get($unity-colors, secondary-200);
  background-color: map-get($unity-colors, secondary-100);
  border-radius: 8px;
  border-width: 2px;
  transition: border 0.25s ease;
  color: map-get($unity-colors, secondary-400);
  &:focus {
    color: map-get($unity-colors, secondary-500);
    background-color: map-get($unity-colors, primary-100);
    outline: none !important;
    border: 2px solid map-get($unity-colors, primary-400);
    box-shadow: none;
    font-weight: 600;
  }
}

.badge-wrapper.bullet .badge-category-parent-bg,
.badge-wrapper.bullet .badge-category-bg {
  border-radius: 100%;
}

.badge-wrapper.bullet {
  span.badge-category-parent-bg {
    display: none;
  }
  span.badge-category-parent-bg + .badge-category-bg {
    width: 9px;
  }
}

.panel-body {
  .results {
    border-radius: 8px;
    color: map-get($unity-colors, secondary-400);
  }
}

.header-dropdown-toggle:nth-child(4) {
  order: 3;
}

.d-header-icons .header-dropdown-toggle:not(:last-child) {
  font-size: 0.75rem;
}

.menu-panel {
  border-radius: 8px;
  margin: 1rem;
  box-shadow: 0px 4px 43px -1px rgba(0, 0, 0, 0.13) !important;
  border: 0;
  transition: background-color ease 0.25s;

  .menu-links-row .glyphs {
    border-radius: 5px;
    background-color: map-get($unity-colors, primary-100);
    .d-icon {
      color: map-get($unity-colors, primary-400);
    }
    .widget-button {
      border-radius: 5px;
      &:hover {
        background-color: map-get($unity-colors, primary-300);
      }
      + .active {
        &:hover {
          background-color: map-get($unity-colors, primary-500);
        }
      }
    }
    .widget-button:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    .widget-button:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    button.active {
      .d-icon {
        color: map-get($unity-colors, primary-100);
      }
      background-color: map-get($unity-colors, primary-400);
    }
  }
}

.user-menu {
  .quick-access-panel {
    border-top: none;
    .d-icon,
    .d-icon.active {
      color: map-get($unity-colors, secondary-300);
    }

    div,
    button {
      color: map-get($unity-colors, secondary-400);
      &:hover {
        color: map-get($unity-colors, secondary-400);
      }
    }
  }
}

div.menu-links-header .menu-links-row li.glyphs a {
  display: none;
}

.user-menu .menu-links-row {
  button.user-notifications-link {
    display: none;
  }
}

.widget-button.btn-flat.user-notifications-link.no-text.btn-icon,
.widget-button.btn-flat.user-pms-link.no-text.btn-icon {
  display: none;
}

.d-header .messages-menu {
  width: 0;
}

.messages-menu {
  .quick-access-panel {
    width: 100%;
    display: table;
    margin-top: -1px;
    border-top: 1px solid $primary-low;
    padding-top: 0.5em;

    h3 {
      padding: 0 0.4em;
      font-weight: bold;
      margin: 0.5em 0;
    }

    .d-icon,
    &:hover .d-icon {
      color: map-get($unity-colors, primary-400);
    }
    .icon {
      color: $primary-high;
    }

    li {
      background-color: $tertiary-low;

      // This is until other languages remove the HTML from within
      // notifications. It can then be removed
      div .fa {
        display: none;
      }

      span:first-child {
        // color: $primary;
        font-weight: bold;
        color: map-get($unity-colors, primary-400);
      }

      &:hover,
      &:focus {
        background-color: $highlight-medium;
        outline: none;
      }

      a {
        padding: 0;

        > div {
          overflow: hidden; // clears the text from wrapping below icons
          overflow-wrap: anywhere;
          @supports not (overflow-wrap: anywhere) {
            word-break: break-word;
          }

          // Truncate items with more than 2 lines.
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }

      p {
        margin: 0;
        overflow: hidden;
      }
    }
    li:not(.show-all) {
      padding: 0;

      a {
        display: flex;
        padding: 0.25em 0.5em;
      }
      .d-icon {
        padding-top: 0.2em;
        margin-right: 0.5em;
      }
    }
    .is-warning {
      .d-icon-far-envelope {
        color: $danger;
      }
    }
    .read {
      background-color: $secondary;
    }
    .none {
      padding-top: 5px;
    }
    .spinner-container {
      min-height: 2em;
    }
    .spinner {
      width: 20px;
      height: 20px;
      border-width: 2px;
      margin: 0 auto;
    }
    .show-all a {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 30px;
      color: dark-light-choose($primary-medium, $secondary-high);
      background: blend-primary-secondary(5%);
      &:hover {
        color: $primary;
        background: dark-light-diff($primary, $secondary, 90%, -80%);
      }
    }
    /* as a big ol' click target, don't let text inside be selected */
    @include unselectable;

    &.quick-access-profile {
      li:not(.show-all) a {
        color: $primary;
        .d-icon {
          color: $primary-medium;
        }

        // accounts for menu "ears" 4px + border 1px
        padding: 0.25em calc(0.5em + 4px + 1px);
      }
    }
  }

  .dismiss-link {
    // display: inline-block;
    float: right;
  }
}

.d-header .notifications-menu {
  width: 0;
}

.notifications-menu {
  .quick-access-panel {
    width: 100%;
    display: table;
    margin-top: -1px;
    padding-top: 0.5em;

    h3 {
      padding: 0 0.4em;
      font-weight: bold;
      margin: 0.5em 0;
    }

    .d-icon,
    &:hover .d-icon {
      //   color: $primary-medium;
      color: map-get($unity-colors, primary-400);
    }
    .icon {
      //   color: $primary-high;
      color: map-get($unity-colors, primary-400);
    }

    li {
      //   background-color: $tertiary-low;
      // This is until other languages remove the HTML from within
      // notifications. It can then be removed
      div .fa {
        display: none;
      }

      span:first-child {
        font-weight: bold;
        color: map-get($unity-colors, primary-400);
      }

      &:hover,
      &:focus {
        background-color: $highlight-medium;
        // background-color: red;
        outline: none;
      }

      a {
        padding: 0;

        > div {
          overflow: hidden; // clears the text from wrapping below icons
          overflow-wrap: anywhere;
          @supports not (overflow-wrap: anywhere) {
            word-break: break-word;
          }

          // Truncate items with more than 2 lines.
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }

      p {
        margin: 0;
        overflow: hidden;
      }
    }
    li:not(.show-all) {
      padding: 0;

      a {
        display: flex;
        padding: 0.25em 0.5em;
      }
      .d-icon {
        padding-top: 0.2em;
        margin-right: 0.5em;
      }
    }
    .is-warning {
      .d-icon-far-envelope {
        color: $danger;
      }
    }
    .read {
      background-color: $secondary;
    }
    .none {
      padding-top: 5px;
    }
    .spinner-container {
      min-height: 2em;
    }
    .spinner {
      width: 20px;
      height: 20px;
      border-width: 2px;
      margin: 0 auto;
    }
    .show-all a {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 30px;
      color: dark-light-choose($primary-medium, $secondary-high);
      background: blend-primary-secondary(5%);
      &:hover {
        color: $primary;
        background: dark-light-diff($primary, $secondary, 90%, -80%);
      }
    }
    /* as a big ol' click target, don't let text inside be selected */
    // @include unselectable;

    &.quick-access-profile {
      li:not(.show-all) a {
        color: $primary;
        .d-icon {
          color: $primary-medium;
        }

        // accounts for menu "ears" 4px + border 1px
        padding: 0.25em calc(0.5em + 4px + 1px);
      }
    }
  }

  .dismiss-link {
    display: inline-block;
    float: right;
  }
}

//added the box-shade
.topic-body {
  border-top: none;
  margin: 2rem;
  box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.07);
  //   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
  padding: 15px 20px 0 20px;
  float: left;
  border-radius: 8px;
  border-bottom: none;
  .topic-meta-data {
    background-color: map-get($unity-colors, primary-100);
    padding: 1rem;
    border-radius: 8px;
    a {
      color: map-get($unity-colors, primary-400);
    }
  }

  .topic-map {
    background-color: map-get($unity-colors, secondary-100);
    border-color: map-get($unity-colors, secondary-200);
    section {
      border-color: map-get($unity-colors, secondary-200);
    }
    .buttons button {
      background-color: map-get($unity-colors, secondary-100);
      &:hover {
        background-color: map-get($unity-colors, secondary-200);
      }
    }
  }
}

.btn {
  border-radius: 5px;
}

//removed the weird lines above the avatar
//updated: added spacing between avatar and post
.topic-avatar {
  border-top: none;
  border-bottom: none;
  //   padding-right: 10px;
}

.small-action {
  border-top: none;
}

.category-boxes .category-box-inner,
.category-boxes-with-topics .category-box-inner:hover {
  background: dark-light-diff($primary, $secondary, 90%, -80%);
  transition: background 0.15s;
}

.list-controls .combo-box .combo-box-header {
  background-color: white;

  box-shadow: inset 0 1px 2px rgba(31, 45, 61, 0.075);
  border-radius: 0.375rem;
  // border: 1px solid #e2e8f0;
  border: 1px solid map-get($unity-colors, secondary-200);
  // color: #4a5568;
  color: map-get($unity-colors, secondary-400);
  transition-property: color, border, box-shadow;
  transition-duration: 0.25s;
  transition-timing-function: ease;

  &:hover {
    box-shadow: inset 0 1px 2px rgba(31, 45, 61, 0.1);
    border: 1px solid map-get($unity-colors, secondary-300);
  }

  &:focus,
  &:active {
    border-color: rgba(150, 182, 123, 0.9);
    outline: 0;
    box-shadow: inset 0 1px 2px rgba(31, 45, 61, 0.075),
      0 0 20px rgba(150, 182, 123, 0.1);
  }

  .caret-icon {
    color: map-get($unity-colors, secondary-300);
  }
}

.select-kit.single-select.is-expanded .select-kit-header {
  border-color: rgba(150, 182, 123, 0.9);
  outline: 0;

  box-shadow: inset 0 1px 2px rgba(31, 45, 61, 0.075),
    0 0 20px rgba(150, 182, 123, 0.1);
  color: map-get($unity-colors, primary-400);
  .caret-icon {
    color: map-get($unity-colors, primary-400);
  }
}

// Hide topics column in category list with topics
.with-topics {
  .topics {
    display: none;
    // color: red;
  }
}

.category-list {
  .category-name {
    color: map-get($unity-colors, secondary-500);
    border-bottom: 1px solid transparent;
    transition: color 0.4s ease;
    position: relative;
    @include hoverable-underline(map-get($unity-colors, secondary-300));
    &:hover {
      color: map-get($unity-colors, secondary-300);
    }
  }
}

.category-header div[class^="category-title-header"] {
  border-radius: 0.325rem !important;
  border: none;
  box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.07);
  border-left-width: 0.5rem !important;

  .category-title-contents {
    .category-title-name {
      color: map-get($unity-colors, secondary-500);
    }
    .category-title-description {
      margin-left: 0.5rem;
      color: map-get($unity-colors, secondary-300);
    }
  }
}

.categories-list .category .category-description {
  color: map-get($unity-colors, secondary-300);
}

// .category {
//   border-left: none !important;
//   border-top: 10px;
// }
.category-list {
  border: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

  .d-icon-lock {
    // display: none;
    margin-right: 1rem;
    color: map-get($unity-colors, secondary-300);
    font-size: 0.8rem;
  }

  .category-name {
    position: relative;
    &::before {
      content: "";
      // display: inline-block;
      // width: 10px;
      // height: 10px;
      // vertical-align: baseline;
      // margin: 0 0.5rem;
      // -moz-border-radius: 7.5px;
      // -webkit-border-radius: 7.5px;
      // border-radius: 7.5px;
      // background-color: map-get($unity-colors, secondary-200);
    }
  }

  tbody {
    border-top-width: 1px;

    .category {
      border-left: none;
    }

    tr {
      &:hover {
        background-color: map-get($unity-colors, secondary-100);
      }
    }
  }

  thead {
    .category {
      border-top-left-radius: 8px;
    }
    .topics {
      border-top-right-radius: 8px;
    }
    tr {
      background-color: map-get($unity-colors, secondary-100);
      border-bottom: none;
    }

    th {
      color: map-get($unity-colors, secondary-400);
      border-bottom: 0;
      border-bottom: none;
      // color: map-get($unity-colors, primary-400);
      text-transform: uppercase;
      padding: 1rem;
      font-weight: bold;
    }
  }
}

.category-list .featured-topic .topic-post-badges .badge.new-posts,
.category-list .featured-topic .title {
  color: map-get($unity-colors, primary-400);
  margin-bottom: 0.25rem;
  position: relative;
  @include hoverable-underline(#96b67b);
  // border-bottom: 1px solid transparent;
  // &:hover {
  //   border-bottom: 1px solid map-get($unity-colors, primary-400);
  // }
}

.spinner {
  border: 3px solid map-get($unity-colors, primary-400);
  border-right-color: transparent;
  background-color: map-get($unity-colors, primary-100);
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
  color: map-get($unity-colors, secondary-400) !important;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4a5568;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e2e8f0;
  border-radius: 0.375rem;
  box-shadow: inset 0 1px 1px rgba(31, 45, 61, 0.075);

  &:focus,
  &:active {
    color: #4a5568;
    background-color: #fff;
    border-color: map-get($unity-colors, primary-400);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(31, 45, 61, 0.075),
      0 0 20px rgba(150, 182, 123, 0.1);
  }
}

input[type="password"],
input[type="password"]:active,
input[type="password"]:focus {
  color: map-get($unity-colors, secondary-400);
}

.d-date-input .date-picker:focus {
  outline: none;
  background-color: map-get($unity-colors, primary-100);
}

.pika-single.is-bound {
  border-radius: 8px;
  margin-top: 1rem;
  box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.13);
}

.select-kit.multi-select .multi-select-header {
  color: map-get($unity-colors, secondary-400) !important;
  padding: 0.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4a5568;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e2e8f0;
  border-radius: 0.375rem;
  box-shadow: inset 0 1px 1px rgba(31, 45, 61, 0.075);

  &:focus,
  &:active {
    color: #4a5568;
    background-color: #fff;
    border-color: map-get($unity-colors, primary-400);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(31, 45, 61, 0.075),
      0 0 20px rgba(150, 182, 123, 0.1);
  }
}

.select-kit-body {
  border-radius: 8px;
}

.select-kit.combo-box .select-kit-header {
  color: map-get($unity-colors, secondary-400) !important;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4a5568;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e2e8f0;
  border-radius: 0.375rem;
  box-shadow: inset 0 1px 1px rgba(31, 45, 61, 0.075);

  &:focus {
    outline: 0;
  }
}

.select-kit.combo-box.mini-tag-chooser .select-kit-header {
  height: auto;
}

.d-editor-textarea-wrapper {
  color: map-get($unity-colors, secondary-400) !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4a5568;
  // background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e2e8f0;
  border-radius: 0.375rem;
  box-shadow: inset 0 1px 1px rgba(31, 45, 61, 0.075);
}

.d-editor-container .in-focus {
  border-color: map-get($unity-colors, primary-400);
}

.d-editor-button-bar {
  margin: 0;
  background-color: map-get($unity-colors, primary-100);
  border-radius: 0.375rem 0.375rem 0 0;
  border: none;
  color: map-get($unity-colors, primary-400);
  padding: 0.5rem;
  .btn-icon {
    color: map-get($unity-colors, primary-400);
  }
}

.d-editor-preview-wrapper {
  border: 1px solid #e2e8f0;
  border-radius: 0.375rem;
  padding-top: 0 !important;
  position: relative;
  &::before {
    content: "PREVIEW";
    display: inline-block;
    padding: 1rem;
    background-color: map-get($unity-colors, secondary-100);
    color: map-get($unity-colors, secondary-300);
    letter-spacing: 1px;
    border-bottom: 1px solid map-get($unity-colors, secondary-200);
    margin-bottom: 1rem;
  }

  * {
    padding-left: 1rem;
  }
}

.reply-area {
  .submit-panel {
    padding: 1rem 0;
  }
}

// Selected Choice
.select-kit.multi-select .choices .selected-name {
  background-color: map-get($unity-colors, primary-200);
  color: map-get($unity-colors, primary-400);
  border-radius: 5px;
  padding: 0.25em 0.5rem;
  border: 2px solid transparent;
  transition: border 0.25s ease;

  .svg-icon {
    color: map-get($unity-colors, primary-400);
  }
  &:hover {
    border: 2px solid map-get($unity-colors, primary-400);
    .svg-icon {
      color: map-get($unity-colors, primary-500) !important;
    }
  }
}
