//   Color Reference:
$unity-colors: (
  primary-100: #f5f8f2,
  primary-200: #edf2e9,
  primary-300: #e1ead9,
  primary-400: #96b67b,
  primary-500: #689443,
  secondary-100: #f9fbfd,
  secondary-200: #d2d8e6,
  secondary-300: #b9bdc8,
  secondary-400: #767982,
  secondary-500: #56656e,
  gray-100: #fbfbfd,
  gray-200: #ededed,
  gray-300: #9f9f9f,
  gray-400: #595959,
  gray-500: #464141,
);

@mixin image-logo {
  transition: opacity 0.25s ease, transform 0.25s ease;
  &:hover,
  &:focus {
    opacity: 0.5;
    transform: scale(1.05);
  }
  &:active {
    opacity: 0.8;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-family: "Nunito Sans", sans-serif;
  --heading-font-family: "Nunito Sans", sans-serif;
}

// Banner Styling
.jumbotron {
  background-color: map-get($unity-colors, primary-200);
  display: flex;
  justify-content: center;
  align-items: center;

  &-image {
    // flex: 1 0 5%;
    margin: 1rem 0;
    // background-color: map-get($unity-colors, primary-400);
    width: 332px;
    height: 432px;
  }

  &-titles {
    margin: 1rem 1rem 1rem 0;
    // flex: 1 0 28%;
    h1 {
      font-size: 3.125rem;
      color: map-get($unity-colors, primary-400);
      font-weight: 900;
    }

    h2 {
      max-width: 75%;
      color: map-get($unity-colors, secondary-500);
      font-weight: 300;
    }
  }

  &-quick-links {
    flex: 3 0 27%;
    position: relative;
    z-index: 1;

    &-container {
      padding: 1.5rem;
      background: rgba(255, 255, 255, 0.95);
      box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.13);
      border-radius: 11px 0px 0px 11px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.13);
        border-radius: 11px;

        width: 100%;
        height: 80%;
        top: 10%;
        left: -8%;
        z-index: -1;
      }

      h3 {
        margin-bottom: 0;
        text-align: center;
        padding: 0.8rem 2rem;
        display: block;
        border-radius: 8px;
        color: map-get($unity-colors, primary-400);
        background-color: map-get($unity-colors, primary-100);
      }
      ul {
        margin-left: 0;
        list-style: none;
        font-size: 1.2rem;

        li {
          cursor: pointer;
          border-radius: 8px;
          margin-top: 0.25rem;
          display: block;
          padding: 1rem;
          transition: transform 0.25s ease;

          a {
            margin: 0.5rem;
            color: map-get($unity-colors, secondary-300);
            svg {
              margin-right: 1rem;
            }
          }
          &:hover {
            transform: scale(1.05);
            background-color: rgba(210, 216, 230, 0.2);
          }
        }
      }
    }
  }
}

.partners {
  background: rgba(235, 236, 243, 0.2);
  padding: 2rem 1rem 1rem 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  h2 {
    text-align: center;
    max-width: 45%;
    color: map-get($unity-colors, secondary-500);
  }

  &-images {
    border-bottom: 2px solid #eff1f6;
    // background-color: red;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    a {
      padding: 2.25rem;
      @include image-logo;
    }
  }
}

.universities {
  background-color: rgba(235, 236, 243, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;

  .university-title {
    text-align: left;
    flex-basis: 30%;
    background-color: rgba(210, 216, 230, 0.3);
    border-radius: 8px;
    padding: 1.5rem;
    color: map-get($unity-colors, secondary-500);
  }

  .university-images {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

    a {
      margin: 1.5rem 0;
      @include image-logo;
    }
  }
}

.custom-footer {
  background-color: map-get($unity-colors, secondary-400);
  box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.07);

  a {
    // color: white !important;
    color: rgba(255, 255, 255, 0.5) !important;
  }

  .blurb {
    color: rgba(255, 255, 255, 0.5) !important;
  }
}

.category-boxes .category-box,
.category-boxes-with-topics .category-box {
  border-left: none;
  border-top: 5px solid;
  transition: transform 0.25s ease;
  box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.07);

  &:hover {
    z-index: 999;
    transform: scale(1.03);
  }
}

// Button Styling
.btn-default {
  background: map-get($unity-colors, gray-200);
  color: map-get($unity-colors, gray-400);
  border-radius: 5px;

  &[href],
  .d-icon-thumb-tack {
    color: map-get($unity-colors, gray-400);
  }
  .d-icon {
    color: map-get($unity-colors, gray-400);
  }
  .discourse-no-touch & {
    &:hover {
      background: map-get($unity-colors, primary-300);
      color: map-get($unity-colors, primary-500);
      .d-icon,
      &[href] {
        color: map-get($unity-colors, primary-500);
      }
    }
  }
}

// .btn-primary {
//   background-color: map-get($unity-colors, primary-400);
//   border-radius: 5px;
// }

.btn-primary {
  background-color: map-get($unity-colors, primary-400);
  color: white;
  border-radius: 5px;
  .d-icon {
    color: white;
  }
  .discourse-no-touch & {
    &:hover {
      background-color: map-get($unity-colors, primary-500);
      color: map-get($unity-colors, primary-100);
      .d-icon {
        color: map-get($unity-colors, primary-100);
      }
    }
  }
}

// Navigation Bar Header Styling
.d-header {
  box-shadow: 0px 7px 21px rgba(0, 0, 0, 0.07);
}
.d-header-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  .icon {
    // margin: 0 0.5rem;
    padding: 0.5rem;
    // border-radius: 100%;
    // border-left: 1.25px solid rgba(210, 216, 230, 0.5);
    &:hover,
    &:active,
    &:focus {
      background-color: #edf2f7;
      border-radius: 100%;
      .d-icon {
        color: map-get($unity-colors, secondary-300);
      }
    }
  }
  .d-icon {
    // border-left: 1px solid red;
    color: map-get($unity-colors, secondary-200);
  }
}

// .anon .header-member-info {
//   display: none;
// }

.menu-panel .d-label {
  font-weight: 300;
  color: map-get($unity-colors, secondary-400);
}
#search-term {
  padding: 1.5rem;
  border-color: map-get($unity-colors, secondary-200);
  background-color: map-get($unity-colors, secondary-100);
  border-radius: 8px;
  border-width: 2px;
  transition: border 0.25s ease;
  color: map-get($unity-colors, secondary-400);
  &:focus {
    color: map-get($unity-colors, secondary-500);
    background-color: map-get($unity-colors, primary-100);
    outline: none !important;
    border: 2px solid map-get($unity-colors, primary-400);
    box-shadow: none;
    font-weight: 600;
  }
}

.badge-wrapper.bullet .badge-category-parent-bg,
.badge-wrapper.bullet .badge-category-bg {
  border-radius: 100%;
}

.badge-wrapper.bullet {
  span.badge-category-parent-bg {
    display: none;
  }
  span.badge-category-parent-bg + .badge-category-bg {
    width: 9px;
  }
}
.panel-body {
  .results {
    border-radius: 8px;
    color: map-get($unity-colors, secondary-400);
  }
}

.header-dropdown-toggle:nth-child(4) {
  order: 3;
}
.d-header-icons .header-dropdown-toggle:not(:last-child) {
  font-size: 0.75rem;
}

.menu-panel {
  border-radius: 8px;
  margin: 1rem;
  box-shadow: 0px 4px 43px -1px rgba(0, 0, 0, 0.13) !important;
  border: 0;
  transition: background-color ease 0.25s;

  .menu-links-row .glyphs {
    border-radius: 50px;
    background-color: map-get($unity-colors, primary-100);
    .d-icon {
      color: map-get($unity-colors, primary-400);
    }
    .widget-button {
      border-radius: 0px;
      &:hover {
        background-color: map-get($unity-colors, primary-300);
      }
      + .active {
        &:hover {
          background-color: map-get($unity-colors, primary-500);
        }
      }
    }
    .widget-button:first-child {
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
    }
    .widget-button:last-child {
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }
    button.active {
      .d-icon {
        color: map-get($unity-colors, primary-100);
      }
      background-color: map-get($unity-colors, primary-400);
    }
  }
}
.user-menu {
  .quick-access-panel {
    border-top: none;
    .d-icon,
    .d-icon.active {
      color: map-get($unity-colors, secondary-300);
    }

    div,
    button {
      color: map-get($unity-colors, secondary-400);
      &:hover {
        color: map-get($unity-colors, secondary-400);
      }
    }
  }
}

div.menu-links-header .menu-links-row li.glyphs a {
  display: none;
}

.d-header .messages-menu {
  width: 0;
}

.messages-menu {
  .quick-access-panel {
    width: 100%;
    display: table;
    margin-top: -1px;
    border-top: 1px solid $primary-low;
    padding-top: 0.5em;

    h3 {
      padding: 0 0.4em;
      font-weight: bold;
      margin: 0.5em 0;
    }

    .d-icon,
    &:hover .d-icon {
      color: map-get($unity-colors, primary-400);
    }
    .icon {
      color: $primary-high;
    }

    li {
      background-color: $tertiary-low;

      // This is until other languages remove the HTML from within
      // notifications. It can then be removed
      div .fa {
        display: none;
      }

      span:first-child {
        // color: $primary;
        font-weight: bold;
        color: map-get($unity-colors, primary-400);
      }

      &:hover,
      &:focus {
        background-color: $highlight-medium;
        outline: none;
      }

      a {
        padding: 0;

        > div {
          overflow: hidden; // clears the text from wrapping below icons
          overflow-wrap: anywhere;
          @supports not (overflow-wrap: anywhere) {
            word-break: break-word;
          }

          // Truncate items with more than 2 lines.
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }

      p {
        margin: 0;
        overflow: hidden;
      }
    }
    li:not(.show-all) {
      padding: 0;

      a {
        display: flex;
        padding: 0.25em 0.5em;
      }
      .d-icon {
        padding-top: 0.2em;
        margin-right: 0.5em;
      }
    }
    .is-warning {
      .d-icon-far-envelope {
        color: $danger;
      }
    }
    .read {
      background-color: $secondary;
    }
    .none {
      padding-top: 5px;
    }
    .spinner-container {
      min-height: 2em;
    }
    .spinner {
      width: 20px;
      height: 20px;
      border-width: 2px;
      margin: 0 auto;
    }
    .show-all a {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 30px;
      color: dark-light-choose($primary-medium, $secondary-high);
      background: blend-primary-secondary(5%);
      &:hover {
        color: $primary;
        background: dark-light-diff($primary, $secondary, 90%, -80%);
      }
    }
    /* as a big ol' click target, don't let text inside be selected */
    @include unselectable;

    &.quick-access-profile {
      li:not(.show-all) a {
        color: $primary;
        .d-icon {
          color: $primary-medium;
        }

        // accounts for menu "ears" 4px + border 1px
        padding: 0.25em calc(0.5em + 4px + 1px);
      }
    }
  }

  .dismiss-link {
    display: inline-block;
    float: right;
  }
}

.d-header .notifications-menu {
  width: 0;
}

.notifications-menu {
  .quick-access-panel {
    width: 100%;
    display: table;
    margin-top: -1px;
    padding-top: 0.5em;

    h3 {
      padding: 0 0.4em;
      font-weight: bold;
      margin: 0.5em 0;
    }

    .d-icon,
    &:hover .d-icon {
      //   color: $primary-medium;
      color: map-get($unity-colors, primary-400);
    }
    .icon {
      //   color: $primary-high;
      color: map-get($unity-colors, primary-400);
    }

    li {
      //   background-color: $tertiary-low;
      // This is until other languages remove the HTML from within
      // notifications. It can then be removed
      div .fa {
        display: none;
      }

      span:first-child {
        font-weight: bold;
        color: map-get($unity-colors, primary-400);
      }

      &:hover,
      &:focus {
        background-color: $highlight-medium;
        // background-color: red;
        outline: none;
      }

      a {
        padding: 0;

        > div {
          overflow: hidden; // clears the text from wrapping below icons
          overflow-wrap: anywhere;
          @supports not (overflow-wrap: anywhere) {
            word-break: break-word;
          }

          // Truncate items with more than 2 lines.
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }

      p {
        margin: 0;
        overflow: hidden;
      }
    }
    li:not(.show-all) {
      padding: 0;

      a {
        display: flex;
        padding: 0.25em 0.5em;
      }
      .d-icon {
        padding-top: 0.2em;
        margin-right: 0.5em;
      }
    }
    .is-warning {
      .d-icon-far-envelope {
        color: $danger;
      }
    }
    .read {
      background-color: $secondary;
    }
    .none {
      padding-top: 5px;
    }
    .spinner-container {
      min-height: 2em;
    }
    .spinner {
      width: 20px;
      height: 20px;
      border-width: 2px;
      margin: 0 auto;
    }
    .show-all a {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 30px;
      color: dark-light-choose($primary-medium, $secondary-high);
      background: blend-primary-secondary(5%);
      &:hover {
        color: $primary;
        background: dark-light-diff($primary, $secondary, 90%, -80%);
      }
    }
    /* as a big ol' click target, don't let text inside be selected */
    @include unselectable;

    &.quick-access-profile {
      li:not(.show-all) a {
        color: $primary;
        .d-icon {
          color: $primary-medium;
        }

        // accounts for menu "ears" 4px + border 1px
        padding: 0.25em calc(0.5em + 4px + 1px);
      }
    }
  }

  .dismiss-link {
    display: inline-block;
    float: right;
  }
}

//added the box-shade
.topic-body {
  border-top: none;
  margin: 2rem;
  box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.07);
  //   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
  padding: 15px 20px 0 20px;
  float: left;
  border-radius: 8px;
  border-bottom: none;
  .topic-meta-data {
    background-color: map-get($unity-colors, primary-100);
    padding: 1rem;
    border-radius: 8px;
    a {
      color: map-get($unity-colors, primary-400);
    }
  }

  .topic-map {
    background-color: map-get($unity-colors, secondary-100);
    border-color: map-get($unity-colors, secondary-200);
    section {
      border-color: map-get($unity-colors, secondary-200);
    }
    .buttons button {
      background-color: map-get($unity-colors, secondary-100);
      &:hover {
        background-color: map-get($unity-colors, secondary-200);
      }
    }
  }
}

.btn {
  border-radius: 5px;
}

//removed the weird lines above the avatar
//updated: added spacing between avatar and post
.topic-avatar {
  border-top: none;
  border-bottom: none;
  //   padding-right: 10px;
}
.small-action {
  border-top: none;
}

.category-boxes .category-box-inner,
.category-boxes-with-topics .category-box-inner:hover {
  background: dark-light-diff($primary, $secondary, 90%, -80%);
  transition: background 0.15s;
}
