#main {
  background: var(--stemaway-site-background);
}

.anon {
  .my-badges,
  .my-activity,
  .my-account {
    display: none !important;
  }
}

// Fixes overflow in /home page
body {
  overflow-x: clip;
}
